.single-day-container {
  display: flex;
  flex-direction: column;
  height: 20rem;
}

.day-title-container {
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-right: 1px solid #ECECEC;
}

.events-container {
  padding: 1rem;
  border-right: 1px solid #ECECEC;
}