.day_events_single-event-container {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: center;
}

.day_events_single-event_icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ed7233;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 0.5rem;
  padding: 0.3rem;
}

.day_events_single-event_icon_ch {
  color: white;
}

.day_events_single-event_name {
  color: black;
}

@media screen and (max-width: 1900px) {
  .day_events_single-event_name {
    width: 6.5rem;
  }
}
